{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Document {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'inkind/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  </head>
  <body>
    {% block content %}
    
    {% endblock %}
    {% include 'inkind/footer.html' %}
    <script src="{% static 'inkind/js/app.js'%}"></script>
  </body>
</html>
