{% extends 'inkind/base.html' %}

{% load static %}
{% block content %}
<header class="header--main-page">
  {% include 'inkind/nav.html'%}
 <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
        Zacznij pomagać!<br>
        Oddaj niechciane rzeczy w zaufane ręce
      </h1>
    </div>
  </div>
</header>

<section id="stats" class="stats">
  <div class="container container--85">
    <div class="stats--item">
      {% if total_bags is not None %}
        <em>{{ total_bags }}</em>
      {% else %}
        <em>0</em>
      {% endif %}
      <h3>Oddanych worków</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
    </div>

  <div class="stats--item">
    <em>{{ total_institutions }}</em>
    <h3>Wspartych organizacji</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
  </div>
 </div>
</section>

<section id="steps" class="steps">
  <h2>Wystarczą 4 proste kroki</h2>

 <div class="steps--container">
   <div class="steps--item">
     <span class="icon icon--hands"></span>
     <h3>Wybierz rzeczy</h3>
     <p>ubrania, zabawki, sprzęt i inne</p>
   </div>
   <div class="steps--item">
     <span class="icon icon--arrow"></span>
     <h3>Spakuj je</h3>
     <p>skorzystaj z worków na śmieci</p>
   </div>
   <div class="steps--item">
     <span class="icon icon--glasses"></span>
     <h3>Zdecyduj komu chcesz pomóc</h3>
     <p>wybierz zaufane miejsce</p>
   </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="{% static 'inkind/images/signature.svg' %}" class="about-us--text-signature" alt="Signature">
      </div>
      <div class="about-us--image"><img src="{% static 'inkind/images/about-us.jpg' %}" alt="People in circle"></div>
    </section>
    <section id="help" class="help">
    {% if institutions %}
      <h2>Komu pomagamy?</h2>
      {% regroup institutions|dictsort:"institution_type" by get_institution_type_display as institution_list %}
      
      <ul class="help--buttons">
        {% for institution in institution_list %}
        <li data-id="{{forloop.counter}}"><a href="#" class="btn btn--without-border {% if forloop.first %}active{% endif %}">{{ institution.grouper }}</a></li>
        {% endfor %}
      </ul>
      <!-- SLIDES -->
      {% for institution in institution_list %}
      <div class="help--slides {% if forloop.first %}active{% endif %}" data-id="{{forloop.counter}}">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>
        {% for org in institution.list %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ org.get_institution_type_display }} {{ org.name }}</div>
              <div class="subtitle">{{ org.description }}</div>
            </div>

            <div class="col"><div class="text">{% for category in org.categories.all %}
              {% include "inkind/comma.html" %}{{ category }} 
            {% endfor %}</div></div>
          </li>
        </ul>
        {% endfor %}
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
        </ul>
      </div>
      {% endfor %}
    {% else %}
        <h2>Zgloś instytucję</h2>
    {% endif %}
    </section>
{% endblock %}