{% extends 'inkind/base.html' %}
{% load static%}

{% block content %}
    <header>
      {% include 'inkind/nav.html'%}
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="POST">
        {% csrf_token %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {% for field in form.hidden_fields %}
            <div class="form-group">{{ field }} <div>
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group">{{ field }}</div>
            {% endfor %}
          </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>      
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% endblock %}
