{% extends 'inkind/base.html' %}
{% load static%}

{% block content %}
    <header>
      {% include 'inkind/nav.html'%}
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
        <form method="POST">
          {% csrf_token %}
              {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
            {% if next %}
            <h3 style='font-size: large;'>Zaloguj się, aby zobaczyć tą stronę</h3>
            {% endif %}
          <div class="form-group">
            {% for field in form.hidden_fields %}
            <div class="form-group">{{ field }} <div>
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group">{{ field }}</div>
            {% endfor %}
          </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>      
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% endblock %}
