{% load static %}

{% if user.is_authenticated %}
<nav class="container container--70">
    <ul class="nav--actions">
      <li class="logged-user">
        Witaj {{user.first_name}}
        <ul class="dropdown">
          <li><a href="{% url 'user-profile' %}">Profil</a></li>
          <li><a href="{% url 'profile-update' user.id%}" id="show">Ustawienia</a></li>
          {% if user.is_admin %}
          <li><a href="{% url 'admin:index' %}">Panel administracyjny</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li><a href="{% url 'landing-page' %}" class="btn btn--without-border active">Start</a></li>
      <li><a href="{% url 'landing-page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
      <li><a href="{% url 'landing-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
      <li><a href="{% url 'landing-page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
      <li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
      <li><a href="{% url 'landing-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
  </nav>
{% else %}
<nav class="container container--70">
    <ul class="nav--actions">
      <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
      <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>

    <ul>
      <li><a href="{% url 'landing-page' %}" class="btn btn--without-border active">Start</a></li>
      <li><a href="{% url 'landing-page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
      <li><a href="{% url 'landing-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
      <li><a href="{% url 'landing-page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
      <li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
      <li><a href="{% url 'landing-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
  </nav>
{% endif %}
<div class="container container--70" style="text-align: center;font-size: 20px; margin-top: 70px;">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <!-- The Modal -->
    <div id="myModal" class="modal">    
     <!-- Modal content -->
     <div class="modal-content">
       <span class="close">&times;</span>
       <form method="POST" role="form" action="{% url 'landing-page' %}">
           {% csrf_token %}
         <div class="form-group">
           <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
           {{ password_form.password }}
         </div>
         <div class="form-group">
           <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Confirm</button>
           <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
         </div>
       </form>
     </div> 
 </div> 
<div>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  // Get the button that opens the modal
  var btn = document.getElementById("show");
        // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal
  btn.onclick = function(e) {
    e.preventDefault(); 
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>