{% extends 'inkind/base.html' %}
{% load static %}
{% block content %}
  <header class="header--form-page">
      {% include 'inkind/nav.html'%}
    <div class="container container--70" style="text-align: center;font-size: 20px; margin-top: 70px;">  
        <div class="login-page">
          <h1>Zmień Hasło Dostępu</h1>  
          <form method="POST" action="{% url 'password-reset' %}">
            {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                <table>
                  <tbody>
                    <label>{{field.label}}</label>
                    <p>{{ field.help_text }}</p>
                    <div class="form-group">{{ field }}</div>
                  </tbody>
                </table>
                {% endfor %}
                <br>
              <a href="{% url 'profile-update' user.id %}" class="btn btn--without-border active">Anuluj</a>
              <button class="btn" type="submit">Zatwierdż</button>
            </div>
          </form>
        </div>
    </div>
  </header>
{% endblock%}