{% extends 'inkind/base.html' %}
{% load static %}
{% block content %}
    <header>
      {% include 'inkind/nav.html'%}
    </header>

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          {% for field in form.hidden_fields %}
          <div class="form-group">{{ field }}<div>
          {% endfor %}
          {% for field in form.visible_fields %}
          <div class="form-group">{{ field }} </div>
          {% endfor %}
        </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
{% endblock %}